lightning_logs/
results/
Puzzle-Diff/
/dataset/
/datasets/*
!/datasets/data_splits
dataset_old_delete/
.vscode/
wandb/
singularity/*.o*
PT_OpenPose
*.png
*.ckpt
*.sif
*.pyc

Mambaforge-Linux-x86_64.sh
*.zip
*.tar
